/* Reset CSS start */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
    border:0;
}
/* Reset CSS end */


body {
    position: relative;
    font-family: "Trebuchet MS", Arial, Helvetica, Tahoma, Verdana, sans-serif;
    font-size: 0.9em;
    padding-left: 10px;
}

div.chart {
    width: 500px;
    height: 300px;
    font-size: 1em;
    margin-top: 10px;
    padding-bottom: 0px;
}

h3 {
    margin-top: 1em;
    font-weight: bold;
    font-size: 1.25em;
    color: #900;
}

p {
    margin: 0.25em 0;
    color: #555;
}

p em, p strong {
    color: #336699;
    font-weight: bold;
}

input {
    font-family: "Trebuchet MS", Arial, Helvetica, Tahoma, Verdana, sans-serif;
    color: #555;
}

table {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

table th, table td {
    padding: 4px 6px;
    font-size: 0.9em;
    vertical-align: top;
}

table th {
    background: #ddd;
    font-weight: bold;
    color: #555;
}

table td {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

table tr.row-hover {
    background: #f6ddaf;
}

table tr.row-selected {
    background: #ffa43f;
}
