#!/bin/sh

#
# Environment variables used by various fabric tasks.
# Copy `fabfile.env.sample` to `fabfile.env` and make your edits.
#

#
# Paths to executables.
#

#export PYTHON=python
#export PIP=pip
#export SPHINX_BUILD=sphinx-build
#export PYFLAKES=pyflakes
#export COVERAGE=coverage
#export HTSQL_CTL=htsql-ctl

#
# The address of the demo HTSQL/HTTP server started by `fab serve`.
#

#export HTSQL_HOST=localhost
#export HTSQL_PORT=8080

#
# Database servers for regression testing.  The database user must
# have the right to create and drop users and databases.
#

#export PGSQL_USERNAME=postgres
#export PGSQL_PASSWORD=
#export PGSQL_HOST=localhost
#export PGSQL_PORT=5432

#export MYSQL_USERNAME=root
#export MYSQL_PASSWORD=
#export MYSQL_HOST=localhost
#export MYSQL_PORT=3306

#export ORACLE_USERNAME=system
#export ORACLE_PASSWORD=
#export ORACLE_HOST=localhost
#export ORACLE_PORT=1521
#export ORACLE_SID=XE

#export MSSQL_USERNAME=sa
#export MSSQL_PASSWORD=
#export MSSQL_HOST=localhost
#export MSSQL_PORT=1433

