#!/bin/sh

#
# Environment variables used by various development jobs.
# Copy `job.env.sample` to `job.env` and make your edits.
#

#
# Paths to executables.
#

#export PYTHON=python
#export SPHINX_BUILD=sphinx-build
#export PYFLAKES=pyflakes
#export COVERAGE=coverage
#export HTSQL_CTL=htsql-ctl

#
# The address of the demo HTSQL/HTTP server started by `fab serve`.
#

#export HTSQL_HOST=localhost
#export HTSQL_PORT=8080

#
# Database servers for regression testing.  The database user must
# have the right to create and drop users and databases.
#

#export PGSQL_USERNAME=postgres
#export PGSQL_PASSWORD=
#export PGSQL_HOST=localhost
#export PGSQL_PORT=5432

#export MYSQL_USERNAME=root
#export MYSQL_PASSWORD=
#export MYSQL_HOST=localhost
#export MYSQL_PORT=3306

#export ORACLE_USERNAME=system
#export ORACLE_PASSWORD=
#export ORACLE_HOST=localhost
#export ORACLE_PORT=1521
#export ORACLE_SID=XE

#export MSSQL_USERNAME=sa
#export MSSQL_PASSWORD=
#export MSSQL_HOST=localhost
#export MSSQL_PORT=1433

#
# ISO images for VM.
#

#export DEBIAN_ISO=./debian-6.0.3-i386-netinst.iso
#export CENTOS_ISO=./CentOS-6.0-i386-minimal.iso
#export WINDOWS_ISO=./en_win_srv_2003_r2_standard_with_sp2_cd1_x13-04790.iso
#export WINDOWS_KEY='#####-#####-#####-#####-#####'


