# Override file for global makefile parameters.

# This is a sample file, copy it to `Makefile.env` and modify
# the parameters to match your configuration.

# You may also specify the parameters defined here as environment
# variables; if set, an environment variable will override the
# values defined here.


#
# General configuration
#

# Path to Python executable.
#PYTHON?=python

# Path to `htsql-ctl` executable.
#HTSQL_CTL?=htsql-ctl

# Path to `pip` executable.
#PIP?=pip

# Path to `sphinx-build` executable.
#SPHINX_BUILD?=sphinx-build

# Path to `pyflakes` executable.
#PYFLAKES?=pyflakes


#
# HTTP Server
#

# The address of the demo HTTP server.
#HTSQL_HOST?=localhost
#HTSQL_PORT?=8080


#
# SQLite configuration
#

# Path to the regression database for SQLite.
#SQLITE_DIRECTORY?=build/regress/regress-sqlite
#SQLITE_DATABASE?=htsql_regress.sqlite


#
# PostgreSQL configuration
#

# Running regression tests for PostgreSQL creates a database "htsql_regress"
# and a user with the same name.

# The database user than can create and drop databases.
#PGSQL_ADMIN_USERNAME?=postgres
#PGSQL_ADMIN_PASSWORD?=

# The address of the database server.  Use blank values to connect using
# Unix domain sockets.
#PGSQL_HOST?=localhost
#PGSQL_PORT?=5432

# The database user created by the regression tests.
#PGSQL_USERNAME?=htsql_regress
#PGSQL_PASSWORD?=secret

# The name of the regression database.
#PGSQL_DATABASE?=htsql_regress


#
# MySQL configuration
#

# Running regression tests for MySQL creates a database "htsql_regress"
# and a user with the same name.

# The database user than can create and drop databases.
#MYSQL_ADMIN_USERNAME?=root
#MYSQL_ADMIN_PASSWORD?=

# The address of the database server.  Use blank values to connect using
# Unix domain sockets.
#MYSQL_HOST?=localhost
#MYSQL_PORT?=3306

# The database user created by the regression tests.
#MYSQL_USERNAME?=htsql_regress
#MYSQL_PASSWORD?=secret

# The name of the regression database.
#MYSQL_DATABASE?=htsql_regress


#
# Oracle configuration
#

# Running regression tests for Oracle creates a user "htsql_regress".

# The database user than can create and drop databases.
#ORACLE_ADMIN_USERNAME?=system
#ORACLE_ADMIN_PASSWORD?=

# The address of the database server.
#ORACLE_HOST?=localhost
#ORACLE_PORT?=1521

# The database user created by the regression tests.
#ORACLE_USERNAME?=htsql_regress
#ORACLE_PASSWORD?=secret

# System ID of the database.
#ORACLE_SID?=XE


#
# MS SQL Server configuration
#

# Running regression tests for MS SQL Server creates a database "htsql_regress"
# and a user with the same name.

# The database user than can create and drop databases.
#MSSQL_ADMIN_USERNAME?=sa
#MSSQL_ADMIN_PASSWORD?=

# The address of the database server.
#MSSQL_HOST?=localhost
#MSSQL_PORT?=1433

# The database user created by the regression tests.
#MSSQL_USERNAME?=htsql_regress
#MSSQL_PASSWORD?=secret

# The name of the regression database.
#MSSQL_DATABASE?=htsql_regress


