# Connection parameters for the regression databases.

# This is a sample file, copy it to `Makefile.env` and modify
# the parameters to match your configuration.

# You may also specify the parameters defined here as environment
# variables; if set, an environment variable will override the
# values defined here.


#
# General configuration.
#

# Path to Python executable.
PYTHON?=python


#
# PostgreSQL configuration.
#

# Note that regression tests will create a database "htsql_regress"
# and a user with the same name and the password "secret".

# The database user than can create and drop databases.
PGSQL_ADMIN_USERNAME?=postgres
PGSQL_ADMIN_PASSWORD?=
# The address of the database server.  Use blank values to connect using
# Unix domain sockets.
PGSQL_HOST?=localhost
PGSQL_PORT?=5432

# The commands to start and to stop the database server.
# FIXME: currently unused.
PGSQL_START_SCRIPT?=
PGSQL_STOP_SCRIPT?=

# Export the parameters as environment variables.
export PGSQL_ADMIN_USERNAME PGSQL_ADMIN_PASSWORD PGSQL_HOST PGSQL_PORT \
	PGSQL_START_SCRIPT PGSQL_STOP_SCRIPT


