# This file specifies non-source code files that should be
# included to the source distribution.

# README files and build scripts.
include README INSTALL NEWS LICENSE AUTHORS Makefile setup.cfg

# Package resources.
recursive-include src *.html *.css *.js

