
/* Clear and baseline */

* {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  border-size: 0;
  border-style: none;
  outline: 0;
  margin: 0;
  padding: 0;
  color: inherit;
  background: transparent;
  list-style-type: none;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 80%;
  line-height: 1.4;
  color: #000;
  background: #fff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

pre, tt, code, kbd, samp {
  font-family: "DejaVu Sans Mono", "Menlo", "Lucida Console", monospace;
}

/* Page structure */

.viewport {
  position: relative;
  height: 100%;
}

.heading-area {
  float: left;
  clear: left;
  width: 100%;
  padding: 5px 0;
  color: #e6e6e6;
  background: #4d4d4d;
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1));
  background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1));
}

.input-area {
  float: left;
  clear: left;
  position: relative;
  width: 100%;
  color: #1a1a1a;
  border: solid #999999;
  border-width: 1px 0;
  -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1), inset 0 -2px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1), inset 0 -2px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 2px rgba(0,0,0,0.1), inset 0 -2px 2px rgba(0,0,0,0.1);
}

.output-area {
  float: left;
  clear: left;
  width: 100%;
  color: #1a1a1a;
  overflow: hidden;
}

.footer-area {
  float: left;
  clear: left;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.3em;
  z-index: -1;
  -moz-box-shadow: inset 0 -2px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 -2px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 -2px 2px rgba(0,0,0,0.1);
}

/* Heading area */

.heading-area .database {
  float: left;
  padding: 0 1em;
}

.heading-area ul.menu {
  float: right;
  width: 12em;
}

.heading-area ul.menu li {
  float: left;
  width: 6em;
}

.heading-area ul.menu li a {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.heading-area ul.menu li a:hover {
  color: #fff;
}

/* Input area */

.input-area .editor-container {
  height: 6em;
  margin-right: 20em;
  padding: 0.5em 1em;
  border: solid #999999;
  border-width: 0 1px 0 0;
  -moz-box-shadow: inset -1px 0 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset -1px 0 1px rgba(0,0,0,0.1);
  box-shadow: inset -1px 0 1px rgba(0,0,0,0.1);
}

.input-area .editor-container .CodeMirror {
  font-family: "DejaVu Sans Mono", "Menlo", "Lucida Console", monospace;
  font-size: 105%;
  width: 100%;
  height: 100%;
}

.input-area .editor-container .CodeMirror-scroll {
  width: 100%;
  height: 100%;
}

.input-area .button-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 18em;
  height: 6em;
  padding: 0.5em 1em;
}

.input-area .button-container ul {
  position: absolute;
  left: 0;
  bottom: 0;
}

.input-area .button-container li {
  float: left;
  margin: 0 0 0.5em 1em;
}

.input-area .button-container a {
  float: left;
  text-align: center;
  padding: 0.2em 1.2em;
  color: #1a1a1a;
  background: #abbbbe;
  border: 1px solid #999999;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset, 0 1px 2px rgba(0,0,0,0.05);
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.input-area .button-container a:hover {
  color: #fff;
}

.input-area .button-container a:active {
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05), rgba(0,0,0,0));
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05), rgba(0,0,0,0));
  background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.05), rgba(0,0,0,0));
}

/* Output area */

.output-area .grid {
  overflow: hidden;
}

/* Grid */

/* Grid borders */

.grid table {
  border-style: hidden none none none;
}

.grid thead {
  background: #eef5dd;
  background: #f2f2f2;
  border: solid #1a1a1a;
  border-width: 0 0 1px 0;
}

.grid thead tr {
  border: solid #999999;
  border-width: 1px 0 0 0;
}

.grid thead tr:first-child {
  border: solid #f2f2f2;
  border-width: 1px 0 0 0;
}

.grid thead th {
  border: solid #999999;
  border-width: 0 0 0 1px;
}

.grid thead tr:first-child th:first-child {
  border: 1px solid;
  border-color: #fff #1a1a1a #1a1a1a #fff;
}

.grid tbody th {
  border: solid;
  border-width: 0 1px;
  border-color: #fff #1a1a1a #fff #fff;
}

.grid tbody td {
  border: solid #999999;
  border-width: 0 0 0 1px;
}

.grid tbody th+td {
  border: 0;
}

.grid tr.alt {
  background: #eef5dd;
  background: #f2f2f2;
}

.grid tbody tr:hover {
  background: #176371;
  background: #1a1a1a;
  background: #333333;
  color: #e6e6e6;
  color: #fff;
}

/* Grid styling */

.grid td,
.grid th {
  vertical-align: bottom;
}

.grid th {
  font-weight: bold;
}

.grid thead th {
  text-align: center;
}

.grid tbody th {
  font-size: 90%;
  text-align: right;
}

.grid td {
  font-size: 105%;
}

.grid td.number {
  text-align: right;
}

.grid span {
  display: block;
  padding: 3px 10px;
  overflow: hidden;
}

.grid td span {
  overflow: auto;
}

/* Grid scrolling */

.grid .grid-head {
  overflow: hidden;
}

.grid .grid-body {
  overflow-x: auto;
  overflow-y: auto;
}

