
div.vsplit:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

div.vsplit > *:first-child {
  width: 45%;
  float: left;
  font-size: 95%;
}

div.vsplit > *:first-child +* {
  width: 50%;
  float: right;
  font-size: 95%;
}

div.htsql-output {
  max-height: 10em;
  overflow: auto;
  display: none;
}

div.htsql-toggle {
  float: right;
  cursor: pointer
}

