
div.vsplit:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

div.vsplit > *:first-child {
  width: 35%;
  float: left;
}

div.vsplit > *:first-child +* {
  width: 60%;
  float: right;
}

