
.vsplit-left {
  width: 45%;
  float: left;
  font-size: 95%;
}

.vsplit-right {
  width: 50%;
  float: right;
  font-size: 95%;
}

.vsplit-clear {
  clear: both;
}

div.htsql-input {
  font-size: 95%;
}

div.htsql-output {
  max-height: 11em;
  overflow: auto;
}

div.htsql-output table.docutils tr.htsql-cut td {
  border-bottom: 0;
}

div.htsql-hide {
  display: none;
}

div.htsql-toggle {
  float: right;
  cursor: pointer
}

