
.vsplit-left {
  width: 45%;
  float: left;
  font-size: 95%;
}

.vsplit-right {
  width: 50%;
  float: right;
  font-size: 95%;
}

.vsplit-clear {
  clear: both;
}

div.htsql-input a.htsql-link {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

div.htsql-input a.htsql-arrow-link {
  float: right;
  font-size: 105%;
  text-decoration: none;
}

div.htsql-output {
  overflow: auto;
}

div.htsql-output table.docutils tr.htsql-cut td {
  border-bottom: 0;
}

